@import "variables.scss";

.pointer {
    cursor: pointer;
}

.disabled {
    opacity: 0.4;
}

.indent {
    margin-left: $indent;
}

.row {
    display: flex;
    flex-direction: row;
}

.rowfull {
    @extend .row;
    justify-content: space-between;
}

.rowfullcenter {
    @extend .rowfull;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.colfull {
    @extend .col;
    justify-content: space-between;
}

// This sets the size and color of a MatBlazor icon
@mixin flashicon($size, $color: black) {
    padding: 0;
    height: $size;
    width: $size;
    border: none;
    color: $color;

    .material-icons {
        padding: 0;
        border: none;
        font-size: $size;
        line-height: $size;
    }
}


