@import '../../Css/common.scss';

.outerpanel {
    box-shadow: none !important;
    background-color: $light-backcolor !important;
    margin: 0 10px 15px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    > * {
        margin-left: 10px;
    }
}


