@import '../../Css/common.scss';

.deckadd {
    margin-right: 6px;
}

.outerpanel {
    box-shadow: none !important;
    background-color: $light-backcolor !important;
    margin: 0 10px 15px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-text {
        // The MatBlazor text component contains a label which is not vertically centered
        label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    > * {
        margin-left: 10px;
    }
}


