@import '../../Css/common.scss';

.navbar {
    @extend .rowfullcenter;
    justify-content: space-between;
    height: 54px;
    color: white;
    padding: 0 10px;

    .dbname {
        margin-left: 10px;
    }
}

