@import '../../Css/common.scss';

.navbar {
    @extend .rowfullcenter;
    justify-content: space-between;
    height: 54px;
    color: white;
    padding: 0 10px;

    .dbname {
        margin-left: 10px;
    }

    &-section {
        display: flex;
        align-items: center;
    }

    &-left {
        @extend .navbar-section;
        width: 35%;

        > * {
            margin-right: 12px;
        }
    }

    &-middle {
        @extend .navbar-section;
        justify-content: center;

        > * {
            margin: 0 6px 0 6px;
        }
    }

    &-right {
        @extend .navbar-section;
        width: 35%;
        justify-content: flex-end;

        > * {
            margin-left: 12px;
        }
    }
}

