
<link href="css/Navbar.css" rel="stylesheet" />

<div class="navbar">
    <div class="rowfullcenter">
        <RoundButton Icon="settings"></RoundButton>
        @LeftContent
    </div>
    <div class="rowfullcenter">
        @MiddleContent
    </div>
    <div class="rowfullcenter">
        @RightContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment LeftContent { get; set; }
    [Parameter]
    public RenderFragment MiddleContent { get; set; }
    [Parameter]
    public RenderFragment RightContent { get; set; }
}
