@import '../../Css/common.scss';
@import '../../Css/spinner.css';

$back-size: 340px;
$rotate: 20deg;

.play {
    &-panel {
        @extend .col;
        justify-content: center;
        align-items: center;
        background: black;

        &-icon {
            @include flashicon(30px, white);
            font-size: 30px;
            margin: 0 6px 0 6px;
        }

        &-empty {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 22px;
            z-index: 1;
        }

        &-time {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 24px;
            z-index: 1;
        }

        &-content {
            @extend .col;
            align-items: center;
            justify-content: center;
            position: relative;
            height: $back-size;
            width: $back-size;

            &-circle {
                position: absolute;
                left: 0;
                height: $back-size;
                width: $back-size;
                background-color: $dark-backcolor;
                border-radius: 50%;
                display: inline-block;
                z-index: 0;
                margin-top: -10px;

                img {
                    transform: rotate(-$rotate);
                    margin: 20px;
                }

                &-spin {
                    display: inline-block;
                    animation: rotation 1s infinite linear;
                }

                @keyframes rotation {
                    50% {
                        transform: rotate($rotate * 2);
                    }

                    50% {
                        transform: rotate(-$rotate * 2);
                    }
                }
            }

            &-buttons {
                @extend .col;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                height: 45%;
                z-index: 1;

                &-top {
                    @extend .rowfull;
                    width: 100%;
                }

                &-bottom {
                    @extend .rowfull;
                    width: 80%;
                    padding: 0 30px 0 30px;
                }
            }
        }
    }

    &-snack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}