@import '../../Css/common.scss';

.promptpair {
    background: white;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;

    .col1 {
        grid-column-start: 1;
    }

    .col2 {
        grid-column-start: 2;

        .text {
            background: white;
            width: 100%;
        }

        .buttons {
            @extend .row;
            padding: 10px 0 10px 0;

            .button {
                margin-right: 10px;
            }
        }
    }
}
