@page "/"
@using FlashCommon
@using System.Reactive;
@using System.Reactive.Linq;
@inject IJSRuntime JSRuntime;
@inject NavigationManager navMgr;
@inject IDynamicDB ddb;

<div id="firebaseui-auth-container"></div>

@code {
    private class FbLogin
    {
        public bool isNew { get; set; }
        public User user { get; set; }
    };

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JSCaller.Call<User>(JSRuntime, "flash.firebaseLogin").Subscribe(u =>
            {
                Globals.uid = u.uid;
                ddb.CurrentDB.Subscribe(db =>
                {
                    db.GetUserInfo(u.uid).Subscribe(info =>
                    {
                        if (info == null)
                        {
                            AddNewUser(db, u).Subscribe(_ => Navigate());
                            return;
                        }
                        Navigate();
                    });
                });
                return;
            });
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private void Navigate()
    {
        navMgr.NavigateTo("/player");
        //navMgr.NavigateTo("/recorder");
    }

    public IObservable<Unit> AddNewUser(IDatabase db, User user)
    {
        user.accountType = "pro";
        var topic = NewTopic(user.uid);
        var o = new IObservable<Unit>[3];
        o[0] = db.AddNewUser(user);
        o[1] = db.SaveTopic(topic);
        o[2] = db.SavePromptPair(topic.decks[0].groups[0]);
        return Observable.Merge(o).LastAsync();
    }

    private Topic NewTopic(string uid)
    {
        var topic = new Topic()
        {
            decks = new List<Deck>(),
            id = JSTime.Now,
            isLanguage = true,
            listMode = false,
            source = new Source() { id = "en", name = "en" },
            target = new Target() { id = "de", name = "de" },
            uid = uid,
        };
        var deck = topic.AddDeck();
        deck.name = "General";
        deck.groups[0].prompts[0].text = "Example";
        deck.groups[0].prompts[1].text = "Beispiel";
        return topic;
    }

}
