@page "/"
@inject IJSRuntime JSRuntime;
@inject NavigationManager navMgr;

<div id="firebaseui-auth-container"></div>

@code {
    private class UserId { public string uid { get; set; } };

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JSCaller.Call<UserId>(JSRuntime, "flash.firebaseLogin").Subscribe(u =>
            {
                Globals.uid = u.uid;
                navMgr.NavigateTo("/player");
                //navMgr.NavigateTo("/recorder");
            });
        }
        return base.OnAfterRenderAsync(firstRender);
    }

}
