@page "/"
@using FlashCommon
@using System.Reactive;
@using System.Reactive.Linq;
@inject IJSRuntime JSRuntime;
@inject NavigationManager navMgr;
@inject IDynamicDB ddb;

<div id="firebaseui-auth-container"></div>

@code {
    private bool isFirstTime = true;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JSCaller.Call<User>(JSRuntime, "flash.firebaseLogin").Subscribe(user =>
            {
                ddb.Connect();
                ddb.CurrentDB.Subscribe(db =>
                {
                    db.GetUserInfo(user.uid).Subscribe(info =>
                    {
                        if (info == null)
                        {
                            AddNewUser(db, user).Subscribe(_ =>
                            {
                                db.SetCurrentUserId(user.uid);
                                Navigate();
                            });
                            return;
                        }

                        db.SetCurrentUserId(info.uid);
                        Navigate();
                    });
                });
                return;
            });
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private void Navigate()
    {
        if (!isFirstTime) return;
        isFirstTime = false;
        navMgr.NavigateTo("/player");
        //navMgr.NavigateTo("/recorder");
    }


    // Set up data base entries for a new user
    public IObservable<Unit> AddNewUser(IDatabase db, User user)
    {
        user.accountType = "pro";
        var topic = NewTopic(user.uid);
        user.currentTopicId = topic.id;
        var o = new IObservable<Unit>[3];
        o[0] = db.AddNewUser(user);
        o[1] = db.SaveTopic(topic);
        o[2] = db.SavePromptPair(topic.decks[0].groups[0]);
        return Observable.Merge(o).LastAsync();
    }

    private Topic NewTopic(string uid)
    {
        var topic = new Topic()
        {
            decks = new List<Deck>(),
            id = JSTime.Now,
            isLanguage = true,
            listMode = false,
            source = new Source() { id = "en", name = "en" },
            target = new Target() { id = "de", name = "de" },
            uid = uid,
        };
        var deck = topic.AddDeck();
        deck.name = "General";
        deck.groups[0].prompts[0].text = "Example";
        deck.groups[0].prompts[1].text = "Beispiel";
        return topic;
    }

}
