@import '../../Css/common.scss';

.round {
    background: $gold;
    border-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.small {
    height: 40px;
    width: 40px;
}

.big {
    height: 54px;
    width: 54px;
}

a {
    text-decoration: none !important;
}
